/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@700&display=swap');


/*===== VARIABLES CSS =====*/


@media screen and (min-width: 768px){
    :root{
        --big-font-size: 10.5rem;
        --h2-font-size: 2rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
    }
}


/*===== BASE =====*/
*,::before,::after{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 3rem 0 0 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #697477;
    line-height: 1.6;
    
}
h1,h2,p{
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: #697477;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
    
}

/*===== CLASS CSS ===== */
.section{
    padding: 3rem 0;
}
.section-title{
    position: relative;
    font-size: 1.25rem;
    color: #2A3B47;
    margin: 2rem 0;
    text-align: center;
}
.section-title::after{
    position: absolute;
    content: "";
    width: 32px;
    height: .18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
    background-color:  #5361FF;
}

/*===== LAYOUT =====*/
.bd-grid{
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
}
.l-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color:  grey;
}

/*===== NAV =====*/
.nav{
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px){
    .nav__menu{
        position: fixed;
        top: 3rem;
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 2rem;
        background-color: rgba(255,255,255,.3);
        transition: .5s;
        backdrop-filter: blur(10px);
    }
}
.nav__item{
    margin-bottom: 2rem;
    
}

.nav__link{
    position: relative;
    color: #2A3B47;

}
.nav__link:hover{
    color:  #5361FF;
}
.nav__logo{
    color:  #FAFAFF;
}
.nav__toggle{
    color:  black;
    font-size: 1.5rem;
    cursor: pointer;
}

/*=== Show menu ===*/
.show{
    right: 0;
}

/*Active menu*/
.active::after{
    position: absolute;
    content: "";
    width: 100%;
    height: .18rem;
    left: 0;
    top: 2rem;
    background-color:  #5361FF;
}

/*===== HOME =====*/
.home{
    position: relative;
    background-color:  #5361FF;
    background-image: url('images/background/bg.jpg');
    overflow: hidden;
}
.home__container{
    height: calc(100vh - 3rem);
    row-gap: 5rem;
}
.home__title{
    align-self: flex-end;
    font-size: 3.5rem;
    font-family: 'Corinthia', cursive;    color:  #FAFAFF;
    line-height: 2;
}
.home__title span{
    text-shadow: 0 20px 25px rgba(0,0,0,.5);
}
.home__scroll{
    align-self: flex-end;
    padding-bottom: 2rem;
}
.home__scroll-link{
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    color:  #FAFAFF;
}
.home__img{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 295px;
}

/* ===== ABOUT =====*/
.about__container{
    justify-items: center;
    row-gap: 2rem;
    text-align: center;
}

.about__subtitle{
    font-size: 1.25rem;
    color:  #5361FF;
    margin-bottom: .5rem;
}
.about__text{
    margin-bottom: 2rem;
}
.about__profession{
    display: block;
    margin-bottom: 2rem;
}
.about__social-icon{
    font-size: 1.4rem;
    margin: 0 .5rem;
}
.about__social-icon:hover{
    color:  #5361FF;
}

/* ===== SKILLS =====*/
.skills__container{
    row-gap: 2rem;
}
.skills__subtitle{
    color:  #5361FF;
    margin-bottom: 1.5rem;
}
.skills__name{
    display: inline-block;
    font-size: .813rem;
    margin-right: 1rem;
    margin-bottom: 1.5rem;
    padding: .25rem .5rem;
    background-color:  #FAFAFF;
    border-radius: .25rem;
}
.skills__name:hover{
    background-color:  #5361FF;
    color:  #FAFAFF;
}
.skills__img img{
    border-radius: .5rem;
}

/* ===== PORTFOLIO =====*/
.portfolio{
    background-color:  #FAFAFF;
}
.portfolio__container{
    justify-items: center;
    row-gap: 2rem;
}
.portfolio__img{
    position: relative;
    overflow: hidden;
}
.portfolio__img img{
    border-radius: .5rem;
}
.portfolio__link{
    position: absolute;
    bottom: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,.3);
    border-radius: .5rem;
    cursor: pointer;
    backdrop-filter: blur(10px);
    transition: .3s;
}
.portfolio__img:hover .portfolio__link{
    bottom: 0;
}
.portfolio__link-name{
    color: #2A3B47;
}

/* ===== CONTACT =====*/
.contact__container{
    row-gap: 2rem;
}
.contact__subtitle{
    font-size: 1rem;
    color:  #5361FF;
}
.contact__text{
    display: inline-block;
    margin-bottom: 1rem;
}
.contact__inputs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
}
.contact__input{
    width: 100%;
    padding: .8rem;
    outline: none;
    border: 1.5px solid #2A3B47;
    font-size: 1rem;
    margin-bottom: 2rem;
    border-radius: .5rem;
}
.contact__button{
    display: block;
    background-color:  #5361FF;
    color:  #FAFAFF;
    padding: .75rem 2.5rem;
    margin-left: auto;
    border-radius: .5rem;
    border: none;
    outline: none;
    font-size: 1rem;
    cursor: pointer;
}

/* ===== FOOTER=====*/
.footer{
    background-color: #2A3B47;
}
.footer__container{
    row-gap: 2rem;
}
.footer__title{
    font-size: 1rem;
    color:  #FAFAFF;
    margin-bottom: 1rem;
}
.footer__link{
    padding: .25rem 0;
}
.footer__link:hover{
    color:  #5361FF;
}
.footer__social{
    font-size: 1.4rem;
    margin-right: .5rem;
}
.footer__social:hover{
    color:  #5361FF;
}

/* ===== MEDIA QUERIES =====*/
/* For small devices */
@media screen and (max-width: 320px) {
  .home__img {
    width: 230px;
  }
}

@media screen and (min-width: 768px){
    body{
        margin: 0;
    }
    .section{
        padding-top: 4rem;
    }
    .section-title{
        margin-bottom: 3rem;
    }
    .section-title::after{
        width: 64px;
        top: 3rem;
    }

    .nav{
        height: calc(3rem + 1rem);
    }
    .nav__list{
        display: flex;
    }
    .nav__item{
        margin-left: 2rem;
        margin-bottom: 0;
    }
    .nav__toggle{
        display: none;
    }
    .nav__link{
        color:  #FAFAFF;
    }
    .nav__link:hover{
        color:  #FAFAFF;
    }
    .active::after{
        background-color:  #FAFAFF;
    }

    .home__container{
        height: 100vh;
        grid-template-rows: 1.7fr 1fr;
        row-gap: 0;
    }
    .home__img{
        width: 524px;
        right: 10%;
    }

    .about__container{
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        text-align: initial;
        padding: 4rem 0;
    }
    .about__img{
        width: 200px;
        height: 200px;
    }
    .about__img img{
        width: 165px;
    }

    .skills__container{
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .portfolio__container{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 2rem;
    }

    .contact__container{
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
    .contact__form{
        width: 380px;
    }

    .footer__container{
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }
}

@media screen and (min-width: 1024px){
    .bd-grid{
        margin-left: auto;
        margin-right: auto;
    }
}

/* For tall screens on mobiles y desktop*/
@media screen and (min-height: 721px) {
    .home__container {
        height: 640px;
    }
    .home__img {
        width: 500px;
        right: 24%;
    }
}